<h4>GENERAL INFORMATION</h4>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF160"></span>
    <h6>Match ID</h6>
  </div>
  <div class="bottom">
    <h2>{{match.match_id}}</h2>
    <h6>Unique ID of the match</h6>
  </div>
</div>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF05B"></span>
    <h6>Start Date</h6>
  </div>
  <div class="bottom">
    <h2>{{format-time-date match.start_time}}</h2>
    <h6>{{format-time-time-gmt match.start_time}} GMT</h6>
  </div>
</div>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF166"></span>
    <h6>Duration</h6>
  </div>
  <div class="bottom">
    <h2>{{format-duration match.duration}}</h2>
    <h6>Time of match</h6>
  </div>
</div>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF028"></span>
    <h6>Game Mode</h6>
  </div>
  <div class="bottom">
    <h2>{{game-mode match.game_mode}}</h2>
    <h6>{{ranked match.lobby_type}}</h6>
  </div>
</div>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF07C"></span>
    <h6>Server</h6>
  </div>
  <div class="bottom">
    <h2>{{cluster match.cluster}}</h2>
    <h6>Regional Cluster</h6>
  </div>
</div>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF12E"></span>
    <h6>First Blood</h6>
  </div>
  <div class="bottom">
    <h2>{{first-blood match.first_blood_time}}</h2>
    <h6>Time Of First Death</h6>
  </div>
</div>
<div class="status-panel">
  <div class="top">
    <span class="batch batch-huge uniF15C"></span>
    <h6>Lobby Type</h6>
  </div>
  <div class="bottom">
    <h2>{{lobby match.lobby_type}}</h2>
    <h6>Public or practice</h6>
  </div>
</div>
<h4>FINAL RESULTS</h4>
<div class="panel panel-success" id="match-result">
  <div class="panel-heading">The Radiant Team</div>
    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Hero</th>
          <th>Items</th>
          <th>Level</th>
          <th>Gold</th>
          <th>LH</th>
          <th>DN</th>
          <th>HD</th>
          <th>XPM</th>
          <th>GPM</th>
          <th>Kills / Deaths / Assists</th>
        </tr>
      </thead>
      <tbody>
        {{#each player in match.players}}
        {{#if player.radiant}}
        <tr>
          <td class="player-name text-muted">Anonymous</td>
          <td class="hero-cont-pad">
            {{{hero player.hero_id}}}
          </td>
          <td class="item-cont-pad">
            {{#each item in player.items}}
            <div class="item-cont">
              {{{item item}}}
            </div>
            {{/each}}
          </td>
          <td>{{player.level}}</td>
          <td>{{player.gold}}</td>
          <td>{{player.last_hits}}</td>
          <td>{{player.denies}}</td>
          <td>{{player.hero_damage}}</td>
          <td>{{player.xp_per_min}}</td>
          <td>{{player.gold_per_min}}</td>
          <td>
            <div class="progress">
              {{{progress-kills player.kills player.deaths player.assists}}}
              {{{progress-deaths player.kills player.deaths player.assists}}}
              {{{progress-assists player.kills player.deaths player.assists}}}
            </div>
          </td>
        </tr>
        {{/if}}
        {{/each}}
      </tbody>
  </table>
</div>
<div class="panel panel-danger" id="match-result">
  <div class="panel-heading">The Dire Team</div>
    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Hero</th>
          <th>Items</th>
          <th>Level</th>
          <th>Gold</th>
          <th>LH</th>
          <th>DN</th>
          <th>HD</th>
          <th>XPM</th>
          <th>GPM</th>
          <th>Kills / Deaths / Assists</th>
        </tr>
      </thead>
      <tbody>
        {{#each player in match.players}}
        {{#if player.radiant}}{{else}}
        <tr>
          <td class="player-name text-muted">Anonymous</td>
          <td class="hero-cont-pad">
            {{{hero player.hero_id}}}
          </td>
          <td class="item-cont-pad">
            {{#each item in player.items}}
            <div class="item-cont">
              {{{item item}}}
            </div>
            {{/each}}
          </td>
          <td>{{player.level}}</td>
          <td>{{player.gold}}</td>
          <td>{{player.last_hits}}</td>
          <td>{{player.denies}}</td>
          <td>{{player.hero_damage}}</td>
          <td>{{player.xp_per_min}}</td>
          <td>{{player.gold_per_min}}</td>
          <td>
            <div class="progress">
              {{{progress-kills player.kills player.deaths player.assists}}}
              {{{progress-deaths player.kills player.deaths player.assists}}}
              {{{progress-assists player.kills player.deaths player.assists}}}
            </div>
          </td>
        </tr>
        {{/if}}
        {{/each}}
      </tbody>
  </table>
</div>